/*
SMALL TABLET
*/
@media screen and (min-width: 700px) {
	nav h1 {
		padding: 20px;
	}
	nav h1 a {
		font-size: 20pt;
	}
	#footer {
		font-size: 10pt;
	}
	.filter-options {
		padding: 2%;
		display: flex;
		flex-wrap: wrap;
	}
	.filter-options select {
		margin: 5px 10px;
	}
	#restaurants-list {
		padding: 20px 10% 50px;
	}
	#restaurants-list li {
		margin: 30px 10%
		padding: 25px 5%;
	}
	#restaurants-list li h1 {
		font-size: 16pt;
	}
	#restaurants-list li a {
		font-size: 12pt;
	}
	#restaurants-list p {
		font-size: 12pt;
	}
	.inside #map-container {
		height: 350px;
	}
	#restaurant-container {
		padding: 475px 10% 40px;
	}
	#breadcrumb li {
		font-size: 14pt;
	}
	#restaurant-cuisine {
		font-size: 16pt;
	}
	#restaurant-address, #restaurant-hours tr td {
		font-size: 14pt;
	}
	.reviewer-name, .review-date, .review-rating {
		font-size: 14pt;
	}
	.review-comment {
		font-size: 13pt;
	}
}

/*
LARGE TABLET
*/
/*@media screen and (min-width: 1000px) {
	nav h1 {
		padding: 15px;
	}
	nav h1 a {
		font-size: 24pt;
	}
	.filter-options h2 {
		font-size: 1.4rem;
	}
	.filter-options select {
		font-size: 13pt;
		margin: 5px 20px;
	}
	#restaurants-list p {
		font-size: 14pt;
	}
}*/

/*
LAPTOP
*/
@media screen and (min-width: 1000px) {
	#restaurants-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-content: flex-start;
		padding: 20px 5% 50px;
	}
	#restaurants-list li {
		margin: 40px 20px;
		padding: 30px 40px;
		width: 400px;
	}
	.inside {
		background-color: #f3f3f3;
	}
	.inside #breadcrumb {
		background-color: #ccc;
	}
	.inside #maincontent {
		width: 100%;
	}
	.inside #map-container {
		width: 60%;
		left: 10%;
	}
	.inside #restaurant-container, #reviews-container {
		width: 60%;
	}
}
